body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o menu de navegação */
.menu {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno padrão */
    margin: 0; /* Remove as margens padrão */
    background-color: #333; /* Cor de fundo do menu */
    overflow: hidden; /* Evita que o conteúdo do menu ultrapasse o contêiner */
}

.menu li {
    float: left; /* Alinha os itens do menu horizontalmente */
}

.menu li a {
    display: block; /* Converte os links em elementos de bloco para preencher todo o espaço disponível */
    color: white; /* Cor do texto do link */
    text-align: center; /* Centraliza o texto dentro dos links */
    padding: 14px 16px; /* Espaçamento interno dos links */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.menu li a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse sobre os links */
}

/* Estilos para o título "Painel de Administração" */
h1 {
    text-align: center; /* Centraliza o título */
    margin-top: 20px; /* Espaçamento superior */
    color: #333; /* Cor do texto */
}


/* Estilos para a tabela de registros de ponto */
/* Estilos para a tabela de registros de ponto */
table {
    width: 80%; /* Define a largura da tabela como 80% da largura do contêiner pai */
    margin: 0 auto; /* Centraliza a tabela na página */
    border-collapse: collapse;
    margin-top: 20px; /* Espaçamento superior para separar a tabela do título */
}

thead {
    background-color: #8fa4ef; /* Cor de fundo do cabeçalho da tabela */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000000; /* Linha divisória entre as células */
}

/* Estilo para a primeira célula da tabela (Hora) */
th:first-child,
td:first-child {
    border-top-left-radius: 5px; /* Borda arredondada superior esquerda */
}

/* Estilo para a última célula da tabela (Imagem) */
th:last-child,
td:last-child {
    border-top-right-radius: 5px; /* Borda arredondada superior direita */
}

/* Estilo para a última linha da tabela */
tbody tr:last-child td {
    border-bottom: none; /* Remove a linha divisória na última linha */
}

h2{
    margin-left: 180px;
}