body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o menu de navegação */
.menu {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno padrão */
    margin: 0; /* Remove as margens padrão */
    background-color: #333; /* Cor de fundo do menu */
    overflow: hidden; /* Evita que o conteúdo do menu ultrapasse o contêiner */
}

.menu li {
    float: left; /* Alinha os itens do menu horizontalmente */
}

.menu li a {
    display: block; /* Converte os links em elementos de bloco para preencher todo o espaço disponível */
    color: white; /* Cor do texto do link */
    text-align: center; /* Centraliza o texto dentro dos links */
    padding: 14px 16px; /* Espaçamento interno dos links */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.menu li a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse sobre os links */
}

/* Estilos para o título "Painel de Administração" */
h1 {
    text-align: center; /* Centraliza o título */
    margin-top: 20px; /* Espaçamento superior */
    color: #333; /* Cor do texto */
}

