body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o menu de navegação */
.menu {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno padrão */
    margin: 0; /* Remove as margens padrão */
    background-color: #333; /* Cor de fundo do menu */
    overflow: hidden; /* Evita que o conteúdo do menu ultrapasse o contêiner */
}

.menu li {
    float: left; /* Alinha os itens do menu horizontalmente */
}

.menu li a {
    display: block; /* Converte os links em elementos de bloco para preencher todo o espaço disponível */
    color: white; /* Cor do texto do link */
    text-align: center; /* Centraliza o texto dentro dos links */
    padding: 14px 16px; /* Espaçamento interno dos links */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.menu li a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse sobre os links */
}


.menu li:last-child {
    margin-right: 0; /* Remove o espaçamento do último item */
    margin-left: 990px; /* Move o último item para o canto direito */
   

}
/* Estilos para o título "Painel de Administração" */
h1 {
    text-align: center; /* Centraliza o título */
    margin-top: 20px; /* Espaçamento superior */
    color: #333; /* Cor do texto */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 100px;
}

label {
    display: block;
    margin-bottom: 4px;
}

input[type="text"],
input[type="time"],
input[type="date"],
input[type="file"],
button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

button {
    background-color: #0489B1;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0B4C5F;
}

ul#listaFuncionarios {
    margin: 20px 0; /* Margem superior e inferior */
    padding: 0; /* Removendo qualquer preenchimento padrão */
    list-style-type: none; /* Removendo os marcadores de lista padrão */
    display: flex;
    flex-wrap: wrap; /* Para que os funcionários possam quebrar a linha conforme necessário */
    justify-content: space-around; /* Para espaçamento uniforme entre os funcionários */
}

/* Estilo para cada item da lista de funcionários */
ul#listaFuncionarios li {
    width: calc(33.33% - 20px); /* Definindo a largura de cada funcionário para 33.33% com margem */
    margin: 10px; /* Espaçamento entre os funcionários */
    background-color: #f2f2f2; /* Cor de fundo cinza */
    padding: 10px; /* Espaçamento interno */
    border-radius: 8px; /* Borda arredondada */
    text-align: center; /* Centralizar conteúdo */
}



/* Estilos para o banner */
.banner {
    width: 20px; /* Garante que o banner ocupe toda a largura do contêiner pai */
    max-width: 30px; /* Garante que o banner não ultrapasse a largura máxima */
    height: 10px; /* Garante que a altura seja ajustada automaticamente para manter a proporção */
    display: block; /* Define o banner como um elemento de bloco para ocupar toda a largura disponível */
    margin-right: 100px;
    margin-top: 10px; /* Espaçamento superior para separá-lo do menu */
}